@charset "UTF-8";
*{
	box-sizing: border-box;
}
body{
	font-size: 16px;
	color: #000;
}
h1, p{
	width: 600px;
	margin: auto;
}
h1{
	text-align: center;
	margin-bottom: 15px;
	margin-top: 100px;
}
p{
	text-align: center;
}
#memberform{
	width: 670px;
	margin: 20px auto;
	border: 1px solid #ddd;
	background: #efefef;
	padding: 50px;
	box-shadow: 0 0 30px 0 rgba(0,0,0,.15);
}
ul.members{
	list-style: none;
	margin: 0;
	padding: 0;
}
.members li{
	margin-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px dashed #333;
}
.members li.li-post{
	border-bottom: none;
	margin-bottom:5px;
	padding-bottom: 0;
}
.members li.li-address{
	border-bottom: none;
	margin-bottom:5px;
	padding-bottom: 0;
}
.members li label:first-child{
	display: inline-block;
	width: 180px;
	text-align: right;
	padding-right: 20px;
	font-size: 18px;
	font-weight: bold;
}
.members li input[type=text],
.members li input[type=password]{
	font-size: 16px;
	padding: 10px 5px;
	background: rgba(255,255,255, 0.7);
	width: 60%;
	border: 1px solid #999;
	outline: transparent;
}
.members li.li-id input[type=text]{
	width: 45%;
}
.members li input[type=text]#postcode{
	width:40%;
	border-top-right-radius: 0;
	border-bottom-right-radius:0;
}
.members li input[type=button]{
	border-radius: 10px;
	font-size: 16px;
	padding: 7px 5px;
}
/* .members li.addressbox input[type=text]{
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
	padding-left: 10px;
} */
.members li select{
	font-size: 18px;
	padding: 5px 10px;
	border-radius: 10px
}
.member li label:not(:first-child){
	margin-right: 10px;
}
.btnbox{
	text-align: center;
	margin-top: 10px;
}
.submit{
	padding: 5px 15px;
	background: #ededed;
	font-weight: bold;
	font-size: 18px;
}